body {
  font-family: Arial;
  background: #eef2f3;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*tổng khung của ô nội dung*/
.box {
  width: 360px;
  margin-top: 300px;
  background: white;
  padding: 90px;
  border-radius: 60px;
}

.box h1 {
  margin-bottom: 30px;
  margin-top: -20px;
  font-size: 40px;
}
/*tiêu đề tên phim*/
.rap-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: -250px;
  font-size: 50px;
  font-weight: bold;
}

/*ô điền thông tin*/
input {
  width: 105%;
  padding: 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

/*hiệu ứng hiện xanh khi bấm vào ô cần điền*/
input:focus {
  outline: none;
  border: 2px solid #050260cb;
}

/* chỉnh màu ô đăng nhập*/
button {
  width: 105%;
  padding: 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

/*chỉnh kích thước chữ trong ô điền nội dung*/
input::placeholder {
  font-size: 18px;
}

/* chỉnh màu ô đăng nhập khi đưa chuột lại ô*/
button:hover {
  background: #050260cb;
}

/* màu khi nhập sai*/
.error {
  color: rgba(255, 0, 0, 0.597);
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

/*hiện ô đỏ khi điền sai*/
input.error-border {
  border: 4px solid red;
}
