* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fae9bc7e;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 38px;
  color: #333;
  font-weight: bold;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.movie-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.movie-info {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-info h3 {
  margin-bottom: 20px;
  font-size: 18px;
  min-height: 45px;
  display: flex;
  align-items: center;
}

.price {
  display: none;
}

.btn-booking {
  width: 150px;
  padding: 12px 0;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(229, 9, 20, 0.2);
}

.btn-booking:hover {
  background: #b20710;
  transform: scale(1.08);
}