* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #fff3cf61;
}

/* ===== MAIN ===== */

main {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

/* ===== TIÊU ĐỀ ===== */

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 38px;
  letter-spacing: 2px;
  color: #333;
  font-weight: bold;
}

/* ===== MOVIE GRID ===== */

.movie-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
}

/* ===== MOVIE CARD ===== */

.movie-card {
  background: white;

  border-radius: 10px;

  overflow: hidden;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  transition: 0.3s;
}

.movie-card:hover {
  transform: translateY(-5px);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;

  height: 380px;

  object-fit: cover;
}

/* ===== MOVIE INFO ===== */

.movie-info {
  padding: 15px;

  text-align: center;
}

.movie-info h3 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
}

/* ===== PRICE ===== */

.price {
  color: red;

  font-weight: bold;

  margin-bottom: 12px;
  text-align: center;
  font-size: 18px;
}

/* ===== BOOKING BUTTON ===== */

.btn-booking {
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.btn-booking:hover {
  background: #b20710;
}
